%h1.content-title CME Categories
%table
  -for category in @categories
    %tr
      %td= category.category
      %td= link_to 'rename', edit_admin_cme_category_path(category)
      %td= link_to 'remove', delete_admin_cme_category_path(category)
%hr
=circle_plus_left_fg_button_to "add new category", new_admin_cme_category_path
  