%h2 Are you sure you want to delete?
- form_for [@cv, @one], :html=>{:method=>:delete} do |f|
  %h4= "Delete this #{@section_name.singularize.humanize}:"
  =render :partial => "#{@section_name.pluralize}/#{@section_name.singularize}", :object=>@one, :locals => {:links => false }
  %p
    =fg_submit_button "Yes"
    =fg_cancel_button "No"