- content_for :actions do
  =link_to "add new #{@section_name.singularize.humanize}", {:controller=>@section_controller, :action=>'new'}
  
- @all.each do |a|
  =render :partial => "#{@section_name}/#{@section_name.singularize}", :object=>a, :locals => {:links => true }
  