- form_for [@cv, @one] do |f|
  =f.error_messages
  =f.label :organization
  =f.text_field :organization
  %br
  =f.label :member_since
  =f.text_field :member_since, :size=>5
  %hr
  .prepend-10
    =fg_submit_button "Submit"
    =fg_cancel_button "Cancel"