- form_for @cme, :builder=>CvFormBuilder do |f|
  =f.begin_form
  =f.text_field :source
  =f.text_field :hours
  =f.select(:cme_category_id, @categories)
  =f.text_field :received_date, :class=>'date date_select'
  =f.end_form