- form_for @one, :url=> @one.new_record? ? cv_education_path(@cv) : cv_education_instance_path(@cv, @one), :builder=>CvFormBuilder do |f|
  =f.begin_form :legend=>'Education'
  =f.text_field :degree, :class=>'required'
  =f.text_field :year, :size=>5, :class=>'required year'
  =f.text_area :description, :size=>'35x3'
  - f.fields_for @institution_fields do |i|
    %fieldset
      %legend Institution
      =i.text_field :name, :size=>40, :class=>'required'
      =i.text_field :location, :size=>40, :class=>'required'
      =i.text_field :country, :size=>20
  =f.end_form
  