-form_for :presentation, @presentation, :url => @presentation.new_record? ? cv_presentations_path(@cv) : cv_presentation_path(@cv,@presentation) do |f|
  =f.error_messages
  =f.label :title
  =f.text_field :title, :size=>50
  %br
  =f.label :conference
  =f.text_field :conference, :size=>50
  %br
  =f.label :location
  =f.text_field :location, :size=>50
  %br
  =f.label :given_at
  =f.date_select :given_at
  %br
  =f.label "Author list"
  =f.text_area :author_list, :size=>'42x2'
  %hr
  .prepend-10
    =fg_submit_button "Submit"
    =fg_cancel_button "Cancel"