-form_for [@cv, @one], :builder=>CvFormBuilder do |f|
  =f.begin_form
  =f.text_field :title, :size=>50, :class=>'required alphanumeric'
  =f.text_field :conference, :size=>50, :class=>'required alphanumeric'
  =f.text_field :location, :size=>50, :class=>'alpha'
  =f.text_field :given_at, :size=>15, :class=>'date date_select'
  =f.text_area :author_list, :size=>'51x2', :class=>'required author_list'
  =f.end_form