-form_for [@cv,@one] do |f|
  =f.error_messages
  =f.label :title
  =f.text_field :title, :size=>50
  %br
  =f.label :year
  =f.text_field :year, :size=>5
  %br
  =f.label "Patent id"
  =f.text_field :number, :size=>15
  %br
  =f.label :description
  =f.text_area :description, :size=>'42x4'
  %hr
  .prepend-10
    =fg_submit_button "Submit"
    =fg_cancel_button "Cancel"