-form_for [@cv,@one], :builder=>CvFormBuilder do |f|
  =f.begin_form
  =f.text_field :title, :size=>50, :class=>'required alphanumeric'
  =f.text_field :year, :size=>5, :class=>'year'
  =f.text_field :number, :label=>'Patent ID', :size=>15, :class=>'alphanumeric'
  =f.text_area :description, :size=>'42x4', :class=>'alphanumeric'
  =f.end_form