.item
  .head
    ="#{patent.andand.title} (#{patent.andand.year})"
  .details
    Patent number: #{patent.andand.number}
    %br
    = simple_format patent.andand.description
    -if defined? links and links
      =render :partial=>'cv_base/links', :locals=>{:one=>patent}
  %hr
