- form_for (@user, :url=> user_path), :builder=>CvFormBuilder do |f|
  =f.begin_form
  =f.text_field :first_name, :class=>'required alpha'
  =f.text_field :last_name, :class=>'required alpha'
  =f.text_field :username, :class=>'required alpha'
  =f.text_field :email, :class=>'required emaila'
  =f.password_field :password
  =f.password_field :password_confirmation
  =f.end_form
    