- form_for (@user, :url=> user_path) do |f|
  =f.error_messages
  %p
    =f.label :last_name
    %br
    =f.text_field :last_name
  %p
    =f.label :first_name
    %br
    =f.text_field :first_name
  %p
    =f.label :username
    %br
    =f.text_field :username
  %p
    =f.label :email
    %br
    =f.text_field :email
  %p
    =f.label :password
    %br
    =f.password_field :password
  %p
    =f.label :password_confirmation
    %br
    =f.password_field :password_confirmation
  %hr
  %p
    =fg_submit_button "Submit"
    =fg_cancel_button "Cancel"
    