-content_for :actions do
  %ul
    %li=link_to "Add new", new_cv_manager_path
  
  
%h2 Users who can manage your CV
-for manager in @cv_managers
  = manager.name
  .links.clearfix
    =link_to 'remove', delete_cv_manager_path(manager)
  %hr
  

