.award
  ="#{award.andand.name} "
  ="(#{award.andand.year})" unless award.andand.year.nil?
  -if defined? links and links
    =render :partial=>'cv_base/links', :locals=>{:one=>award}
  %hr
          
        
  

