- form_for [@cv, @one], :builder=>CvFormBuilder do |f|
  =f.begin_form :legend=>'Award'
  =f.text_field :name, :size=>40, :class=>'required'
  =f.text_field :year, :size=>5, :class=>'year'
  =f.text_area :description, :size=>'34x4', :class=>'alphanumeric'
  =f.end_form
   