- content_for :actions do
  = link_to "add new", @add_new_path

- if @chapters.count > 0
  %h2 Chapters
  - for chapter in @chapters
    =render :partial=>'book',:object=>chapter, :locals=>{:links=>true}

      
- if @books.count > 0
  %h2 Books
  - @books.each do |book|
    =render :partial=>'book', :object=>book, :locals=>{:links=>true}

    



