- form_for [@cv, @one] do |f|
  =f.error_messages
  %br
  =f.label :name
  =f.text_field :name
  %br
  =f.label :date_received
  =f.date_select :date_received

  %hr
  .prepend-10
    =fg_submit_button "Submit"
    =fg_cancel_button "Cancel"