- form_for [@cv, @one], :builder=>CvFormBuilder do |f|
  =f.begin_form :legend=>'Certification'
  =f.text_field :name, :size=>50, :class=>'required alpha'
  =f.text_field :date_received, :size=>20, :label=> 'Date', :class=>'date date_select'
  =f.end_form