
- form_for [@cv,@paper] do |f|
  =f.error_messages
  %fieldset
    %legend Article
    =f.label :title
    =f.text_area :title, :size => '50x2'
    %br
    =f.label "Author list"
    =f.text_area :author_list, :size=>'50x2'
    %br
    =f.hidden_field :paper_type
    =f.hidden_field :pmed_date
    =f.hidden_field :pub_model
    =f.hidden_field :abstract
    =f.hidden_field :pmid

    -f.fields_for @journal_attributes do |j|
      =j.label :journal
      =j.text_field :long_title, :size => 59
      =j.hidden_field :short_title
      =j.hidden_field :issn
      =j.hidden_field :nlmuid
    %br
    =f.label :year
    =f.text_field :journal_year, :size=>5
    %br
    =f.label :volume
    =f.text_field :journal_volume, :size=>4
    %br
    =f.label :issue
    =f.text_field :journal_issue, :size=>4
    %br
    =f.label :pages
    =f.text_field :journal_pages, :size=>15
  %hr
  .prepend-10  
    =fg_submit_button 'Submit'
    =fg_cancel_button 'Cancel'