- content_for :actions do
  = link_to "add new paper", new_cv_paper_path(@cv)

- unless @papers.nil?
  - @papers.each do |p|
    = render :partial=>'paper', :object=>p, :locals => {:links => (link_to "remove", delete_cv_paper_path(@cv, p)) }

      



