-form_for @address, :url=>cv_address_path(@cv), :builder=>CvFormBuilder do |f|
  =f.begin_form :legend=>'Contact Information'
  =f.text_field :email, :size=>40, :class=>'emaila'
  =f.text_field :phone, :size=>40, :class=>'phone'
  =f.text_area :address, :rows=>3
  =f.end_form