-content_for :actions do
  =link_to "edit contact information", edit_cv_address_path(@cv)

%h2 Contact Information
="<strong>Email:</strong> #{@address.email}"
%br
="<strong>Phone:</strong> #{@address.phone}"
%br
%br
<strong>Address:</strong>
%br

=simple_format @address.address
