/-content_for :actions do
/  =document_left_fg_button_to 'Make PDF', '#'


#cv
  #name=@cv.name
  -if @cv.address
    #address
      =@cv.address.address.gsub("\n"," . ")
    #contact
      =@cv.address.phone
      |
      =@cv.address.email
  -if @cv.employment.count > 0
    #employment
      %h2 Employment
      -for employment in @cv.employment
        =render :partial=>'employment/employment', :object=>employment
  -if @cv.training.count > 0  
    #training
      %h2 Training
      -for training in @cv.training
        =render :partial=>'training/training',:object=>training
  -if @cv.education.count > 0
    #education
      %h2 Education
      -for education in @cv.education
        =render :partial=>'education/education',:object=>education
  -if @cv.papers.count > 0
    #papers
      %h2 Articles
      -for paper in @cv.papers
        .prepend-1
          =render :partial=>'papers/paper', :object=>paper
  -if @cv.books_and_chapters.count > 0
    #books
      %h2 Books and Chapters
      -for book in @cv.books_and_chapters
        .prepend-1
          =render :partial=>'books/book', :object=>book
          %hr
      
