-content_for :actions do
  =document_left_fg_button_to 'Make PDF', '#'


#cv.span-68.last
  #name.span-68.last=@cv.name
  .span-68.last
    #address
      =one_line_address(@cv.address)
    #contact
      =@cv.address.phone
      |
      =@cv.address.email
  #employment.span-68.last
    %h2 Employment
    -for employment in @cv.employment
      =render :partial=>'employment/employment', :object=>employment
    
  #training.span-68.last
    %h2 Training
    -for training in @cv.training
      =render :partial=>'training/training',:object=>training
    
  #education.span-68.last
    %h2 Education
    -for education in @cv.education
      =render :partial=>'education/education',:object=>education
    
  #papers.span-68.last
    %h2 Papers
    -for paper in @cv.papers
      .prepend-1
        =render :partial=>'papers/paper', :object=>paper
        %hr
        
  #books.span-68.last
    %h2 Books and Chapters
    -for book in @cv.books_and_chapters
      .prepend-1
        =render :partial=>'books/book', :object=>book
        %hr
      
