-form_for [@cv,@one] do |f|
  =f.error_messages
  =f.label :title
  =f.text_field :title, :size=>50
  %br
  =f.label :start_date
  =f.date_select :start_date
  %br
  =f.label :end_date
  =f.date_select :end_date
  %br
  =f.label :status
  =f.select :status_id, %w[active completed]
  %br
  =f.label 'Awarding aency'
  =f.text_field :awarded_by
  %br
  =f.label 'Grant number'
  =f.text_field :number, :size=>15
  %br
  =f.label :role
  =f.text_field :role, :size=>20
  %br
  =f.label :direct_ward
  =f.text_field :direct_award, :size=>10
  %br
  =f.label :indirect_award
  =f.text_field :indirect_award, :size=>10
  %br
  =f.label :description
  =f.text_area :description, :size=>'42x3'
  %hr
  .prepend-10
    =fg_submit_button "Submit"
    =fg_cancel_button "Cancel"
  
