-form_for [@cv,@one], :builder=>CvFormBuilder do |f|
  =f.begin_form :legend=>'Grant'
  =f.text_field :title, :size=>50, :class=>'required alphanumeric'
  =f.text_field :start_date, :size=>15, :class=>'required date date_select'
  =f.text_field :end_date, :size=>15, :class=>'required date date_select'
  =f.select :status_id, %w[active completed]
  =f.text_field :awarded_by, :label=>"Awarding agency", :class=>'required alphanumeric'
  =f.text_field :number, :label=>'Grant number', :size=>15, :class=>'numeric'
  =f.text_field :role, :size=>20
  =f.text_field :direct_award, :size=>10
  =f.text_field :indirect_award, :size=>10
  =f.text_area :description, :size=>'42x3'
  =f.end_form
