-for grant in @grants
  =render :partial=>'grant', :object=>grant
  .links.clearfix
    =link_to 'edit', edit_cv_grant_path(@cv,grant)
    |
    =link_to 'remove', delete_cv_grant_path(@cv, grant)

  
-content_for :actions do
  =circle_plus_left_fg_button_to "add new", new_cv_grant_path(@cv)