.item
  ="#{activity.andand.start_year} - #{activity.andand.end_year}  #{activity.andand.title},  #{activity.andand.organization}"
  -if defined? links and links
    =render :partial=>'cv_base/links', :locals=>{:one=>activity}
  %hr
