-form_for [@cv,@one], :builder=>CvFormBuilder do |f|
  =f.begin_form :legend=> @one.class.to_s.underscore.humanize
  =f.text_field :title, :size => 60, :class=>'required'
  =f.text_field :organization, :size => 60, :class=>'required'
  =f.text_field :start_year, :size => 8, :class=>'year'
  =f.text_field :end_year, :size => 8, :class=>'year'
  =f.text_area :description, :rows=>4
  =f.end_form
