%h2.prepend-10 Login

- form_for @user_session do |f|

  %br
  =f.label :username
  =f.text_field :username
  %br
  =f.label :password
  =f.password_field :password
  %hr
  .prepend-10
    =fg_submit_button "login"
